@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* humber menu  */

.container{
 max-width: 1120px;
 margin: auto;
}
.hero*{
  position: relative;
    z-index: 2;
}
.humburger {
  cursor: pointer;
  width: 24px;
  height: 20px;
  transition: all .25s;
  position: relative;
}

.top,
.bottom,
.middle {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2.5px;
  border-radius: 50px;
  background-color: #000;
  transform: rotate(0);
}

.middle {
  transform: translateY(8px);
}

.bottom {
  transform: translateY(16px);
}

.active {
  transform: rotate(90deg);
  transform: translateY(0);
}

.active .top {
  transform: rotate(45deg) translateY(8px) translate(8px);
}

.active .middle {
  display: none;
}

.active .bottom {
  transform: rotate(-45deg) translateY(8px) translate(-8px);
}